<script setup>
import Router from "./router/Router.vue";
</script>

<template>
  <Router />
</template>

<style>
@import "./assets/style/reset.css";
@import "./assets/style/style.css";
@import "./assets/style/vars.css";
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
</style>
