<script setup>
import Etudiant from "./Etudiant.vue";
</script>

<template>
  <div>
    <h1>classe test</h1>
    <Etudiant nom="test" />
    <Etudiant nom="test2" />
    <Etudiant nom="test3" />
  </div>
</template>

<script>
</script>