<script setup>
import Slider from "./slider/Slider.vue";
</script>

<template>
  <div class="critere">
    <h4 class="critere-title">{{ critere.name }}</h4>
    <Slider v-bind:critere="critere" />
  </div>
</template>

<style>
@import "../../assets/style/components/eval/critere.css";
</style>

<script>
export default {
  props: ["critere"],
};
</script>