<script setup>
import Critere from "./Critere.vue";
</script>

<template>
  <div class="etudiant">
      <h3 class="etudiant-title">{{student.lastName}} {{student.firstName}}</h3>
      <ul class="etudiant-criteres">
          <li class="etudiant-criteres-item" v-for="critere in currentTest.criteres">
            <Critere v-bind:critere="critere" />
          </li>
      </ul>
      <div class="isNote-checkbox">
        <label for="scales">Notation terminée ?</label>
        <input type="checkbox" id="isNote" name="isNote" v-model="currentTest.isNote">
      </div>
  </div>
</template>

<style>
@import "../../assets/style/components/eval/etudiant.css";
</style>

<script>
export default {
  props: ["student", "testId", "eleves"],
  data: function() {
    return {
      currentTest: undefined,
    }
  },

  beforeMount() {
    this.currentTest = this.student.tests.find(test => test.id == this.testId);
  },

  notesControle() {
    return this.eleves.forEach(eleve => {
      let test = this.getCurrentStudentTest(eleve, this.currentTest.test.id);
      let criteres = test.criteres.find(critere => critere.id == idCritere);
      console.log(criteres);
    });
  },
};
</script>