<script setup>
import SliderAnnotation from "./SliderAnnotation.vue";
</script>

<template>
  <div class="slider">
    <p class="slider-note">Note : {{ critere.note }}%</p>
    <div class="slider-container">
      <input
        class="slider-element"
        id="myRange"
        type="range"
        min="1"
        max="100"
        v-model="critere.note"
      />
      <!-- <SliderAnnotation type="minimum" value="?" />
      <SliderAnnotation type="maximum" value="?" />
      <SliderAnnotation type="moyenne" value="?" /> -->
    </div>
  </div>
</template>

<style>
@import "../../../assets/style/components/eval/slider/slider.css";
</style>

<script>
export default {
  props: ["critere"],
  data: function() {
    return {
      value: 50,
    };
  },
};
</script>