<template>
  <div class="sliderAnnotation">
    <!-- <div class="sliderAnnotation-annotation"></div> -->
    <p class="sliderAnnotation-text">{{type}} : {{value}}%</p>
  </div>
</template>

<style>
@import "../../../assets/style/components/eval/slider/sliderAnnotation.css";
</style>

<script>
export default {
  props: ["type", "value"],
};
</script>