<script setup>
import Classe from "../../../components/eval/Classe.vue";
</script>

<template>
  <div>
    <br />
    <a href="/administration" class="btn btn-success">Retour</a>
    <br />
    <br />
    <h2>Classes</h2>
    <br />
    <button class="isFalse btn btn-success" v-on:click="update()" v-if="!editable && !adding">
      Modifier
    </button>
    <button class="save-update btn btn-success" v-if="editable" v-on:click="saveUpdate()">
      Enregistrer
    </button>
  <div class="table-responsive">
    <table class="table">
      <tr class="table-header">
        <th>Classe</th>
        <th>Nb d'élèves</th>
        <th></th>
      </tr>
      <tr v-for="classe in webstorage.classes" class="grey normal" v-if="!editable">
        <td>{{ classe.name }}</td>
        <td>{{ nbOfStudents(classe.id) }}</td>
        <td>
          <button class="btn btn-success btn-students" v-on:click="detailsClasse(classe.id)">Voir élèves</button>
        </td>
      </tr>
      <tr v-for="classe in webstorage.classes" class="grey on-update" v-else-if="editable">
        <td>
          <input type="text" v-model="classe.name" />
        </td>
        <td>{{ nbOfStudents(classe.id) }}</td>
        <td>
          <button class="delete" v-on:click="deleteClasse(classe.id)">
            Supprimer
          </button>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
    <div class="add-classe-btn" v-if="!adding && !editable">
      <button class="add-classe-btn btn btn-success" v-on:click="showAdd">
        Ajouter une classe
      </button>
    </div>
    <div class="add-classe table-responsive" v-else-if="adding">
      <table class="table add-classe-table">
        <tr style="border: 1.1px black solid;">
          <th>Name</th>
        </tr>
        <tr>
          <td>
            <input type="text" placeholder="Name..." v-model="classeToAdd.name"/>
          </td>
        </tr>
      </table>
      <button v-on:click="add()" class="btn btn-success mx-2">Ajouter</button>
      <button v-on:click="showAdd()" class="btn btn-success mx-2">Annuler</button>
    </div>
  </div>
</template>

<style>
@import "../../../assets/style/style.css";
</style>

<script>
export default {
  name: "Classes",
  props: ["webstorage"],
  data: function () {
    return {
      editable: false,
      adding: false,
      classeToAdd: {},
    };
  },

  beforeMount() {
    // this.generateClasseDataStructure();
  },

  methods: {
    nbOfStudents(idClasse) {
      const classe = this.webstorage.classes.find((classe) => classe.id == idClasse);
      return classe.eleves.length;
    },

    // generateClasseDataStructure(){
    //   this.classes.forEach(classe => {
    //     classe.eleves.forEach(eleve => {
    //       this.tests.forEach(test => {
    //         let currentTest = {
    //           id: test.id,
    //           note: 0,
    //           criteres: []
    //         };

    //         test.criteres.forEach(critere => {
    //           currentTest.criteres.push({
    //             name: critere,
    //             note: 0
    //           })
    //         })

    //         eleve.tests.push(currentTest);
    //       })
    //     })
    //   })
    // },

    update() {
      this.editable = !this.editable;
    },

    saveUpdate() {
      this.update();
      this.saveWebstorage();
    },

    deleteClasse(classeId) {
      this.webstorage.classes = this.webstorage.classes.filter(
        (classe) => classe.id != classeId
      );
    },

    detailsClasse(id) {
      this.webstorage.currentId = id;
      this.saveWebstorage();
      window.location.href = "/administration/classes/students";
    },

    showAdd() {
      this.adding = !this.adding;
    },

    add() {
      if (this.classeToAdd.name) {
        this.webstorage.nbClasses++;

        let eleves;

        if (this.adding) {
          eleves = [];
          this.showAdd();
        } else {
          eleves = this.classeToAdd.eleves;
        }

        this.webstorage.classes.push({
          id: this.webstorage.nbClasses,
          name: this.classeToAdd.name,
          eleves: eleves,
        });

        this.saveWebstorage();
      } else {
        console.log("erreur");
      }
    },

    saveWebstorage() {
      this.$emit("saveWebstorage");
    },
  },
};
</script>
