<template>
  <div>
    <a href="/administration/classes" class="btn btn-success btn-retour">Retour</a> 
    <br />
    <br />
    <h2>Students</h2>
    <br />
    <button class="isFalse btn btn-success" v-on:click="update()" v-if="!editable && !adding">
      Modifier
    </button>
    <button class="save-update" v-if="editable" v-on:click="saveUpdate()">
      Enregistrer
    </button>
    <table class="table table-students">
      <tr class="table-header">
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Moyenne</th>
        <th></th>
      </tr>
      <tr class="grey normal" v-for="student in classe.eleves" v-if="!editable">
        <td>
          <p>{{ student.lastName }}</p>
        </td>
        <td>
          <p>{{ student.firstName }}</p>
        </td>
        <td>
          <p>{{ calcAverage(student.tests) }}</p>
        </td>
        <td></td>
      </tr>
      <tr class="grey normal" v-for="student in classe.eleves" v-else-if="editable">
        <td>
          <input type="text" v-model="student.lastName" />
        </td>
        <td>
          <input type="text" v-model="student.firstName" />
        </td>
        <td>
          <p>{{ calcAverage(student.tests) }}</p>
        </td>
        <td>
          <button class="delete" v-on:click="deleteStudent(student.id)">
            Supprimer
          </button>
        </td>
      </tr>
    </table>
    <div class="add-student-btn" v-if="!adding && !editable">
      <button class="add-studiant-btn btn btn-success" v-on:click="showAdd">
        Ajouter un eleve
      </button>
      <br />
      <br />
    </div>
    <div class="add-student" v-else-if="adding">
      <table class="table add-student-table">
        <tr style="border: 1.1px black solid;">
          <th>Lastname</th>
          <th>Firstname</th>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              placeholder="Lastname..."
              v-model="studentToAdd.lastName"
            />
          </td>
          <td>
            <input
              type="text"
              placeholder="Firstname..."
              v-model="studentToAdd.firstName"
            />
          </td>
        </tr>
      </table>
      <button v-on:click="add()" class="btn btn-success mx-2">Ajouter</button>
      <button v-on:click="showAdd()" class="btn btn-success mx-2">Annuler</button>
    </div>
    <div v-if="!adding && !editable">
      <label for="csv_file"></label>
      <input type="file" id="csv_file" v-on:change="loadCSV($event)" />
      <!-- <label for="header_rows"><input type="checkbox" id="header_rows" />File contains header row?</label> -->
    </div>
  </div>
</template>

<script>
export default {
  name: "Students",
  props: ["webstorage"],
  data: function () {
    return {
      id: null,
      editable: false,
      adding: false,
      studentToAdd: {
        firstName: "",
        lastName: "",
      },

      // CSV
      csv: {
        channelName: "",
        channel_fields: "",
        channelEntries: [],
        parseHeader: [],
        parseCSV: [],
        sortOrders: {},
        sortKey: "",
      },
    };
  },

  beforeMount() {
    this.id = this.webstorage.currentId;
    this.classe = this.webstorage.classes.find((classe) => classe.id == this.id);
  },

  methods: {
    calcAverage(tests) {
      let average = 0;
      if (tests.length > 0) {
        tests.forEach(function (test) {
          average += test.note;
        });
        // pourquoi * 100 / 100 ?
        average = Math.round((average / tests.length) * 100) / 100;
      }
      return average;
    },

    update() {
      this.editable = !this.editable;
    },

    saveUpdate() {
      this.update();
      this.saveWebstorage();
    },

    deleteStudent(studentId) {
      this.classe.eleves = this.classe.eleves.filter(
        (eleve) => eleve.id != studentId
      );
    },

    showAdd() {
      this.adding = !this.adding;
    },

    add() {
      if (this.studentToAdd.firstName && this.studentToAdd.lastName) {
        this.webstorage.nbStudents++;
        this.classe.eleves.push({
          id: this.webstorage.nbStudents,
          firstName: this.studentToAdd.firstName,
          lastName: this.studentToAdd.lastName,
          tests: [],
        });

        if (this.adding) this.showAdd();

        this.saveWebstorage();
      } else {
        console.log("erreur");
      }
    },

    loadCSV(file) {
      const vm = this;
      if (window.FileReader) {
        const reader = new FileReader();
        reader.readAsText(file.target.files[0]);

        reader.onload = function (event) {
          const csv = event.target.result;
          vm.csv.parseCSV = vm.csvToJson(csv);

          vm.StudentToAdd = {
            id: 1,
            name: "test",
            eleves: [],
          };

          vm.csv.parseCSV.forEach((e) => {
            if (e.firstName && e.lastName) {
              vm.studentToAdd = {
                id: parseInt(e.id),
                firstName: e.firstName,
                lastName: e.lastName,
                tests: [],
              };
              vm.add();
            } else {
              console.log("erreur : champs invalides");
            }
          });
        };

        reader.onerror = function (event) {
          if (event.target.error.name == "NotReadableError") {
            alert("Le fichier ne peut pas être lu");
          }
        };
      } else {
        alert("FileReader ne fonctionne pas sur ce navigateur.");
      }
    },

    csvToJson(csv) {
      const vm = this;
      const lines = csv.split("\n");
      const result = [];
      const headers = lines[0].split(",");
      vm.csv.parseHeader = lines[0].split("'");
      lines[0].split(",").forEach((key) => {
        vm.csv.sortOrders[key] = 1;
      });

      lines.map(function (line, indexLine) {
        if (indexLine < 1) return;

        const obj = {};
        const currentLine = line.split(",");

        headers.map(function (header, indexHeader) {
          obj[header] = currentLine[indexHeader];
        });

        result.push(obj);
      });

      result.pop();

      return result;
    },

    saveWebstorage() {
      this.$emit("saveWebstorage");
    },
  },
};
</script>
