<template>
  <div>
    <a href="/administration/tests" class="btn btn-retour btn-success">Retour</a>
    <br />
    <br />
    <h2>Students</h2>
    <br />
    <button class="isFalse btn btn-success" v-on:click="update()" v-if="!editable && !adding">Modifier</button>
    <button class="save-update btn btn-success" v-if="editable" v-on:click="saveUpdate()">Enregistrer</button>
    <table class="table table-criterias">
      <tr class="table-header">
        <th>Criteres</th>
        <th></th>
      </tr>
      <tr v-for="critere in this.currentTest.criteres" class="grey normal" v-if="!editable">
        <td>
          <p>{{critere.name}}</p>
        </td>
        <td></td>
      </tr>
      <tr v-for="critere in this.currentTest.criteres" class="grey on-update" v-else-if="editable">
        <td>
          <input type="text" v-model="critere.name">
        </td>
        <td>
          <button class="delete" v-on:click="deleteCriteria(critere.id)">Supprimer</button>
        </td>
      </tr>
    </table>
    <div class="add-criteria-btn" v-if="!adding && !editable">
      <button class="add-criteria-btn btn btn-success"  v-on:click="showAdd()">Ajouter un critère</button>
    </div>
    <div class="add-criteria" v-if="adding">
      <table class="table add-criteria-table">
        <tr style="border: 1.1px solid black;">
          <th>Nom</th>
        </tr>
        <tr>
          <td>
            <input type="text" placeholder="Critère..." v-model="critereToAdd.name">
          </td>
        </tr>
      </table>
      <button v-on:click="add()" class="btn btn-success mx-2">Ajouter</button>
      <button v-on:click="showAdd()" class="btn btn-success mx-2">Annuler</button>
    </div>
  </div>
</template>


<script>
export default {
  name: 'Criterias',
  props: ['webstorage'],
  data: function () {
    return {
      id: null,
      editable: false,
      adding: false,
      currentTest: false,
      critereToAdd: {
        id: 0,
        matiere: ''
      },
    };
  },

  beforeMount() {
    this.id = this.webstorage.currentId;
    this.currentTest = this.webstorage.tests.find(test => test.id == this.id);
  },

  methods: {
    update() {
      this.editable = !this.editable;
    },

    saveUpdate() {
      this.update();
      this.saveWebstorage();
    },

    deleteCriteria(criteriaId) {
      this.currentTest.criteres = this.currentTest.criteres.filter(critere => critere.id != criteriaId);
    },

    showAdd() {
      this.adding = !this.adding;
    },

    add() {
      if(this.critereToAdd.name) {
        this.webstorage.nbCriteres++;
        this.currentTest.criteres.push(
            {
              id: this.webstorage.nbCriteres,
              name: this.critereToAdd.name
            }
        );
        this.showAdd();
        this.saveWebstorage();
      } else {
        console.log('erreur')
      }
    },

    saveWebstorage() {
      this.$emit("saveWebstorage");
    },
  }
};
</script>
