<template>
  <div>
    <a href="/administration" class="btn btn-retour btn-success">Retour</a>
    <br />
    <br />
    <h2>Tests</h2>
    <br />
    <button class="isFalse btn btn-success" v-on:click="update()" v-if="!editable && !adding">Modifier</button>
    <button class="save-update btn btn-success" v-if="editable" v-on:click="saveUpdate()">Enregistrer</button>
    <table class="table table-tests">
      <tr class="table-header">
        <th>Contrôle</th>
        <th>Matière</th>
        <!-- <th>Moyenne</th> -->
        <th></th>
      </tr>
      <tr v-for="test in webstorage.tests" class="grey normal" v-if="!editable">
        <td>
          <p>{{test.name}}</p>
        </td>
        <td>
          <p>{{test.matiere}}</p>
        </td>
        <!-- <td>
          <p>{{calcAverage(test.id, test.classe)}}</p>
        </td> -->
        <td>
          <button class="btn btn-students btn-success" v-on:click="detailsTest(test.id)">Voir critères</button>
        </td>
      </tr>
      <tr v-for="test in webstorage.tests" class="grey on-update" v-if="editable">
        <td>
          <input type="text" v-model="test.name">
        </td>
        <td>
          <input type="text" v-model="test.matiere">
        </td>
        <!-- <td>
          <p>{{calcAverage(test.id, test.classe)}}</p>
        </td> -->
        <td>
          <button class="delete" v-on:click="deleteTest(test.id)">Supprimer</button>
        </td>
      </tr>
    </table>
    <div class="add-test-btn" v-if="!adding && !editable">
      <button class="add-test-btn btn btn-success"  v-on:click="showAdd">Ajouter un contrôle</button>
    </div>
    <div class="add-test" v-else-if="adding">
      <table class="table add-test-table">
        <tr>
          <th>Contrôle</th>
          <th>Matière</th>
          <!-- <th>Moyenne</th> -->
        </tr>
        <tr>
          <td>
            <input type="text" placeholder="Nom du contrôle..." v-model="testToAdd.testName">
          </td>
          <td>
            <input type="text" placeholder="Matière..." v-model="testToAdd.matiere">
          </td>
          <!-- <td>
            <p>Calculer automatiquement...</p>
          </td> -->
        </tr>
      </table>
      <button v-on:click="add()" class="btn btn-succes mx-2">Ajouter</button>
      <button v-on:click="showAdd()" class="btn btn-succes mx-2">Annuler</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tests',
  props: ['webstorage'],
  data: function () {
    return {
      id: 1,
      editable: false,
      adding: false,
      testToAdd: {
        testName: '',
        matiere: '',
      },
    };
  },

  methods: {
    calcAverage(testId, classeId) {
      let average = 0;
      let count = 0;

      const eleves = this.webstorage.classes.find(classe => classe.id == classeId).eleves;

      eleves.forEach(eleve => {
        const test = eleve.tests.find(test => test.id == testId);
        if(test) {
          average += test.note;
          count++;
        }
      });

      average = average/count;

      if(isNaN(average)) return '-';

      return average;
    },

    update() {
      this.editable = !this.editable;
    },

    saveUpdate() {
      this.update();
      this.saveWebstorage();
    },

    detailsTest(id) {
      this.webstorage.currentId = id;
      this.saveWebstorage();
      window.location.href = "/administration/tests/criterias";
    },

    showAdd() {
      this.adding = !this.adding;
    },

    add() {
      this.webstorage.nbTests++;
      this.webstorage.tests.push(
          {
            id: this.webstorage.nbTests,
            classe: 1,
            name: this.testToAdd.testName,
            matiere: this.testToAdd.matiere,
            criteres: []
          }
      );
      this.showAdd();
      this.saveWebstorage();
    },

    deleteTest(testId) {
      this.webstorage.tests = this.webstorage.tests.filter(test => test.id != testId)
    },

    saveWebstorage() {
      this.$emit("saveWebstorage");
    },
  }
};
</script>
