
<template>
  <header class="header">
    <h1 class="header-title">{{ appName }}</h1>
    <nav class="header-navbar">
      <ul class="header-navbar-list">
        <li class="header-navbar-list-item">
          <a class="header-navbar-list-item-link" href="/">Home</a>
        </li>
        <li class="header-navbar-list-item">
          <a class="header-navbar-list-item-link" href="/administration">Administration</a>
        </li>
      </ul>
    </nav>
  </header>
</template>

<style>
@import "../assets/style/components/header.css";
</style>

<script>
export default {
  name: "HeaderItem",
  props: ["appName"],
};
</script>
