<script setup>
  import Classe from "./eval/Classe.vue";
</script>


<template>
  <div>
    <!-- <button v-on:click="logWebstorage()">console.log(webstorage)</button> -->
    <component :is="currentView" v-bind:webstorage="webstorage" @save-webstorage="upToDateSessionStorage" />
  </div>
</template>


<script>
  export default {
    name: "Liste",
    props: ["currentView"],

    data: function () {
      return {
        webstorage: {},
        webstorageModel: {
          currentId: null,
          nbStudents: 0,
          nbTests: 0,
          nbTestsClasses: 0,
          nbClasses: 0,
          nbCriteres: 0,
          classes: [],
          tests: [],
          testsClasses: []
        }
      }
    },

    beforeMount() {
      this.upToDateLocalDatas();
      if(this.webstorage.classes == null) {
        this.webstorage = this.webstorageModel;
        this.upToDateSessionStorage();
      }
    },

    methods: {
      logWebstorage() {
        console.log(this.webstorage);
      },

      /**
       * Put the new values in the Local Storage
       */
      upToDateSessionStorage() {
        localStorage.setItem("currentId", JSON.stringify(this.webstorage.currentId));
        localStorage.setItem("classes", JSON.stringify(this.webstorage.classes));
        localStorage.setItem("tests", JSON.stringify(this.webstorage.tests));
        localStorage.setItem("testsClasses", JSON.stringify(this.webstorage.testsClasses));
        localStorage.setItem("nbClasses", this.webstorage.nbClasses);
        localStorage.setItem("nbCriteres", this.webstorage.nbCriteres);
        localStorage.setItem("nbStudents", this.webstorage.nbStudents);
        localStorage.setItem("nbTests", this.webstorage.nbTests);
        localStorage.setItem("nbTestsClasses", this.webstorage.nbTestsClasses);
      },

      upToDateLocalDatas(){
        this.webstorage.currentId = this.getCurrentIdLocalStorage();
        this.webstorage.classes = this.getClassesLocalStorage();
        this.webstorage.tests = this.getTestsLocalStorage();
        this.webstorage.testsClasses = this.getTestsClassesLocalStorage();
        this.webstorage.nbClasses = this.getNbClassesLocalStorage();
        this.webstorage.nbCriteres = this.getNbCriteresLocalStorage();
        this.webstorage.nbStudents = this.getNbStudentsLocalStorage();
        this.webstorage.nbTests = this.getNbTestsLocalStorage();
        this.webstorage.nbTestsClasses = this.getNbTestsClassesLocalStorage();
      },

      removeAllDatasFromStorage(){
        sessionStorage.removeItem("currentId");
        sessionStorage.removeItem("classes");
        sessionStorage.removeItem("tests");
        sessionStorage.removeItem("testsClasses");
        sessionStorage.removeItem("nbClasses");
        sessionStorage.removeItem("nbCriteres");
        sessionStorage.removeItem("nbStudents");
        sessionStorage.removeItem("nbTests");
        sessionStorage.removeItem("nbTestsClasses");

        sessionStorage.clear();
      },

      /**
       * Get the classes from Local Storage
       * @returns {Object} all the lasses
       */
      getCurrentIdLocalStorage() {
        return JSON.parse(localStorage.getItem("currentId"));
      },

      /**
       * Get the classes from Local Storage
       * @returns {Object} all the lasses
       */
      getClassesLocalStorage() {
        return JSON.parse(localStorage.getItem("classes"));
      },

      /**
       * Get nbClasses from Local Storage
       * @returns {int} nbClasses
       */
      getNbClassesLocalStorage() {
        return JSON.parse(localStorage.getItem("nbClasses"));
      },

      /**
       * Get nbCriteres from Local Storage
       * @returns {int} nbCriteres
       */
      getNbCriteresLocalStorage() {
        return JSON.parse(localStorage.getItem("nbCriteres"));
      },

      /**
       * Get nbStudents from Local Storage
       * @returns {Object} nbStudents
       */
      getNbStudentsLocalStorage() {
        return JSON.parse(localStorage.getItem("nbStudents"));
      },

      /**
       * Get nbTests from Local Storage
       * @returns {Object} nbTests
       */
      getNbTestsLocalStorage() {
        return JSON.parse(localStorage.getItem("nbTests"));
      },

      /**
       * Get nbTestsClasses from Local Storage
       * @returns {Object} nbTests
       */
      getNbTestsClassesLocalStorage() {
        return JSON.parse(localStorage.getItem("nbTestsClasses"));
      },

      /**
       * Get the tests models from Local Storage
       * @returns {Object} all the tests
       */
      getTestsLocalStorage() {
        return JSON.parse(localStorage.getItem("tests"));
      },
      
      /**
       * Get the tests from Local Storage
       * @returns {Object} all the tests
       */
      getTestsClassesLocalStorage() {
        return JSON.parse(localStorage.getItem("testsClasses"));
      },

      classeSelected(classeId){

      },

      nbOfStudents(idClasse) {
        const classe = this.webstorage.classes.find(classe => classe.id == idClasse);
        return classe.eleves.length;
      }
    }
  };
</script>
