.header {
    background-color: var(--background-header);
}

.header-title {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.header-navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-navbar-list-item-link {
    color: white;
}

.header-navbar-list-item:not(:first-child) {
    margin-left: 10px;
}