<script setup>
import Webstorage from "../components/Webstorage.vue";

import Header from "../components/Header.vue";
import NotFound from "../views/NotFound.vue";
import Home from "../views/Home.vue";


import Eval from "../views/evaluation/Eval.vue";

import Admin from "../views/administration/Admin.vue";
import Classes from "../views/administration/classes/Classes.vue";
import Students from "../views/administration/classes/Students.vue";
import Tests from "../views/administration/tests/Tests.vue";
import Criterias from "../views/administration/tests/Criterias.vue";
</script>

<template>
  <div>
    <Header v-bind:appName="appName" />
    <Webstorage v-bind:currentView="currentView" />
  </div>
</template>

<script>
const routes = {
  "/": Eval,

  "/administration": Admin,
  "/administration/classes": Classes,
  "/administration/classes/students": Students,
  "/administration/tests": Tests,
  "/administration/tests/criterias": Criterias,
};

export default {
  name: 'Router',
  data: function () {
    return {
      // Header
      appName: "Vuejs Final",

      // Router
      currentPath: window.location.pathname,
    };
  },

  computed: {
    currentView() {
      return routes[this.currentPath] || NotFound;
    },
  },

  beforeMount() {
    //TODO ~ Appeler le webstorage pour recup les données, et les mettre dans les variables qui correspondent dans data.webstorage
    //TODO ~ Si aucune données dans le webstorage, insérer le model vide
  },

  mounted() {
    window.addEventListener("hashchange", () => {
      this.currentPath = window.location.pathname;
    });
  },

  methods: {
    // logWebstorage() {
    //   console.log(this.webstorage);
    // },

    // logEvent(event) {
    //   console.log("Fonction dans le router");
    //   this.$refs.myChild.testLogger()
    // }
  }
};
</script>
