<template>
  <div class="d-flex align-items-center flex-column">
    <h1 class="h1">Administration</h1>
    <a href="/administration/classes" class="btn btn-success">Classes</a>
    <br />
    <a href="/administration/tests" class="btn btn-success">Tests</a>
  </div>
</template>

<script>
export default {
    name: 'Admin',
    props: ['webstorage']
}
</script>
