.slider-container {
    width: 100%;
}

.slider-element {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: white;
    outline: none;
}

.slider-note {
    text-align: left;
}

.slider-element::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--slider-ball);
    cursor: pointer;
}

.slider-element::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--slider-ball);
    cursor: pointer;
}