<script setup>
import Etudiant from "../../components/eval/Etudiant.vue";
</script>

<template>
  <!-- Liste -->
  <div class="d-flex align-items-center flex-column">
    <h1 class="h1">Evaluer</h1>
    
    <div class="restart-form p-2" v-if="!initiated && !evaluating && webstorage.testsClasses.length != 0">
      <label for="testClasse">Reprendre un contrôle :</label>
      <select name="testClasse" id="testClasse">
        <option v-for="testClasse in webstorage.testsClasses" v-bind:value="testClasse.id">{{testClasse.classe.name}} : {{testClasse.test.name}}</option>
      </select>
      <button class="mx-2 p-2" v-on:click="restartTest()">Reprendre</button>
    </div>

    <div class="choose-form" v-if="!initiated && !evaluating && (webstorage.classes.length != 0 && webstorage.tests.length != 0)">
      <label class="p-2" for="classe">Choisir une classe :</label>
      <select name="classe" id="classe">
        <option v-for="classe in webstorage.classes" v-bind:value="classe.id">{{classe.name}}</option>
      </select>
      <br />
      <label class="p-2" for="eval">Choisir un contrôle :</label>
      <select name="eval" id="eval">
        <option v-for="test in webstorage.tests" v-bind:value="test.id">{{test.name}}</option>
      </select>
      <button v-on:click="initiateTest()" class="mx-2 p-2">Commencer</button>
    </div>
    <p v-else-if="webstorage.classes.length == 0 && webstorage.tests.length == 0">Revenez après avoir ajouté au moins une classe et un contrôle dans l'administration !</p>

    
    <table class="table table-students" v-if="initiated && !evaluating">
      <tr class="table-header">
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Moyenne</th>
        <th></th>
      </tr>
      <tr class="grey normal" v-for="student in currentTest.classe.eleves">
        <td>
          <p v-if="(getCurrentStudentTest(student, currentTest.test.id)).isNote" style="color: green;">{{ student.lastName }}</p>
          <p v-else style="color: red;">{{ student.lastName }}</p>
        </td>
        <td>
          <p v-if="(getCurrentStudentTest(student, currentTest.test.id)).isNote" style="color: green;">{{ student.firstName }}</p>
          <p v-else style="color: red;">{{ student.firstName }}</p>
        </td>
        <td>
          <p v-if="(getCurrentStudentTest(student, currentTest.test.id)).isNote" style="color: green;">{{ calcAverage(student.tests) }}</p>
          <p v-else style="color: red;">{{ calcAverage(student.tests) }}</p>
        </td>
        <td>
          <button v-on:click="evaluateStudent(student.id)" class="btn btn-success">Noter</button>
        </td>
      </tr>
    </table>

    <div v-if="evaluating">
      <button v-on:click="switchEvaluating()">Retour</button>
      <Etudiant v-bind:student="currentStudent" v-bind:testId="currentTest.test.id" v-bind:eleves="currentTest.classe.eleves" />
      <button v-on:click="saveWebstorage()">Enregistrer</button>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Eval',
  props: ['webstorage'],
  data: function () {
    return {
      currentTestId: null,
      currentStudentId: null,
      initiated: false,
      evaluating: false,
      currentTest: {},
      currentStudent: {}
    };
  },

  computed: {
    
  },

  methods: {
    initiateTest() {
      const idClasse = document.querySelector("#classe").value;
      const idTest = document.querySelector("#eval").value;

      this.currentTest.classe = this.webstorage.classes.find(classe => classe.id == idClasse);
      this.currentTest.classe.eleves.forEach(eleve => {eleve.tests = []});
      this.currentTest.test = this.webstorage.tests.find(test => test.id == idTest);

      this.generateClasseDataStructure();
      this.addTest();

      this.currentTest = this.webstorage.testsClasses.find(test => test.id == this.currentTestId);

      this.switchInitiated();
    },

    getCurrentStudentTest(student, testId) {
      return student.tests.find(test => test.id == testId);
    },

    restartTest() {
      const idTestClasse = document.querySelector("#testClasse").value;
      this.currentTestId = idTestClasse;

      this.currentTest = this.webstorage.testsClasses.find(test => test.id == this.currentTestId);

      this.switchInitiated();
    },

    switchInitiated() {
      this.initiated = !this.initiated;
    },

    switchEvaluating() {
      this.evaluating = !this.evaluating;
    },

    generateClasseDataStructure(){
      this.currentTest.classe.eleves.forEach(eleve => {
        let tempTest = {
            id: this.currentTest.test.id,
            note: 0,
            criteres: [],
            isNote: false,
        };

        this.currentTest.test.criteres.forEach(critere => {
          tempTest.criteres.push({
            id: critere.id,
            name: critere.name,
            note: 0
          });
        });

        eleve.tests.push(tempTest);
      });
    },

    calcAverage(test) {
      let average = 0;
      if (test.length > 0) {
        test[0].criteres.forEach(critere => {
          console.log("critere")
          console.log(critere)
          average += parseInt(critere.note);
        });
          
        average = average / test[0].criteres.length;
      }
      return average;
    },

    addTest() {
      if (this.currentTest.classe && this.currentTest.test) {
        this.webstorage.nbTestsClasses++;
        this.currentTest.id = this.webstorage.nbTestsClasses;
        this.currentTestId = this.currentTest.id;
        this.webstorage.testsClasses.push(this.currentTest);
        this.saveWebstorage();
      } else {
        console.log("erreur");
      }
    },

    evaluateStudent(id) {
      this.currentStudent = this.currentTest.classe.eleves.find(student => student.id == id);
      this.switchEvaluating();
    },

    saveWebstorage() {
      this.$emit("saveWebstorage");
    }
  }
};
</script>
