@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}

table,
tr{
    border: 1px black solid;
}

table,
tr,
th,
td{
    padding: var(--table-padding);
    text-align: center;
}

.table{
    margin: 1rem;
}

.table-header{
    background-color: var(--header-table);
}

.grey{
    background-color: var(--grey-line-table);
}
