<script setup>
  import Liste from "../components/Webstorage.vue";
</script>

<template>
  <div>
    <Liste />
  </div>
</template>

<script>
export default {
    name: 'NewTest',
    props: ['webstorage']
}
</script>